*
{
	padding: 0px;
	margin: 0px;
}

body
{
	font-family: tahoma;
}
 
h1
{
	color: white;
}

.logo  
{
	transform: translate(-15%,-15%) rotateX(45deg) rotateZ(-45deg);
	transform-style: preserve-3d;
	transition: .5s;
	box-shadow: -10px 10px 10px rgba(0,0,0,.1), -50px 50px 100px rgba(255,0,0,1);
	animation: animate 2s linear infinite;
}



.logo:hover
{
	transform: translate(-15%,-15%) rotateX(0deg) rotateZ(0deg);
	box-shadow: 0 20px 20px rgba(0,0,0,.5);
	animation: none;
}

@keyframes animate
{
	0%
	{
		box-shadow: -5px 5px 5px rgba(0,0,0,.1), -10px 10px 10px rgba(220,0,0,1);
	}
	20%
	{
		box-shadow: -5px 5px 5px rgba(0,0,0,.1), -10px 10px 30px rgba(220,0,0,1);
	}
	40%
	{
		box-shadow: -5px 5px 5px rgba(0,0,0,.1), -10px 10px 50px rgba(220,0,0,1);
	}
	60%
	{
		box-shadow: -5px 5px 5px rgba(0,0,0,.1), -10px 10px 70px rgba(0,0,100,1);
	}
	80%
	{
		box-shadow: -5px 5px 5px rgba(0,0,0,.1), -10px 10px 90px rgba(0,0,200,1);
	}
	100%
	{
		box-shadow: -5px 5px 5px rgba(0,0,0,.1), -10px 10px 100px rgba(0,0,200,1);
	}
}

#nav
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-brand 
{
	padding-right: 3%;
	padding-left:  1%;
	padding-top:0.5%;
}

.nav-item 
{
	padding-right: 50px;
}

.dropdown-menu
{
	background: crimson;
}

.dropdown-menu a:hover
{
	background-color: #000000;
	color: orange;
}


.navbar-nav li a:hover 
{
	color: orange;
	padding: 5px; 
	transition: all 0.5s ease-in-out;
}

.navbar
 {
 	background-color: rgba(0, 0, 0, 1);
 }

.btn-outline-info
{
	border-radius: 10px;
}


.account button
{
	text-align: center;
	width: 5em;
	height: 2em;
	background-color: #000;
	font-size: 90%;
	color: #15f4ee;
	font-family: monteserrat; 
	font-weight: 200;
	border: 1px solid #15f4ee;
	text-transform: uppercase;
	border-radius: 10px;
	transition: 0.5s;
}

.account button:hover{
	cursor: pointer;
	background-color: #87CEEB;
	color:  #fff;
	box-shadow: 0 0 25px 0 #87CEEB;`
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
	.nav-item 
	{
		padding-right: 2px;
	}
	.dropdown-menu a
	{
		font-size: 1em;
		padding: 5px;
	}
	.btn-outline-info
	{
		border-radius: 5px;
	}
	.nav-item a
	{
		font-size: 1em;
	}
	.navbar-brand 
	{
		padding-right: 0px;
		padding-left:  1%;
		padding-top:0.5%;
	}
}


.swiper-container 
{ 
	/*position: static;*/
	height: 100%;
	width: 100%;
}  


.swiper-slide 
{
      text-align: center;
      font-size: 18px;
    /*  background-color: #fff;*/
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center; 
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}


.swiper1 img
{
	display: block;
	width: 100%;	 
}

.swiper2 img
{
	display: block;
	width: 100%;	 
}


.swiper2 a
{
	position: absolute;
	color: #ffffff;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	top: 75%;
  	left: 50%;
  	text-decoration: none;
  	transform: translate(-50%, -50%);
}

.swiper2 a:hover
{
	position: absolute;
	color: orange;
	font-size: 18px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	background-color: rgba(0,0,0,0);
	width: 100%;
	top: 73%;
  	left: 53%;
  	transform: translate(-50%, -50%);
}


#products
{
	font-size: 30px;
	/*float: left;*/
	/*padding-top: 7px;*/
	padding-left: 20px;
}

#products a
{
	color: #000;
	font-family: "Times New Roman", Times, serif;
}

#Contact h1
{
	text-align: center;
	color:  #fff;
	padding-bottom: 10px;
}
#Contact h1::after
{
	content: '';
	background:  crimson;
	display: block;
	height: 2px;
	border-radius: 100%;
	width: 175px;
	margin: 15px auto 5px;
}
#Contact
{
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://wallpaperplay.com/walls/full/5/e/2/45632.jpg);
	background-color: #efefef;
	background-size: cover;
	background-attachment: fixed;
	color: #777;
}
#Contact form
{
	padding: 10px;
}
#Contact form-group
{
	border-radius: 0;
	border:none;
}
::placeholder
{
	color: #FF00FF;
}

.btn-btn-primary
{
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	color: #fff;
	background-color: crimson;

}

.follow
{
	padding: 5px;
	background:#fff;
	margin:10px;
}
.contact-info .fa
{
	margin: 10px;
	color: #FF00FF;
	font-weight: bold;
}
